# Copia este archivo como .streamlit/secrets.toml si quieres usar secretos de Streamlit.
# Para desarrollo local tambien puedes usar .env.

DATABASE_URL = "postgresql+psycopg://isminerals_app:CAMBIA_ESTA_PASSWORD@IP_DEL_LXC_DB:5432/isminerals"
MINDAT_API_KEY = "CAMBIA_ESTE_TOKEN"
ADMIN_PASSWORD_HASH = "CAMBIA_ESTA_CLAVE_O_HASH"
